*{
    margin: 0;
    
}
nav{
    background-color: #022689;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin: 0 0 2% 0;
    color: white;
}
 ul {  
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
    padding: 10px;
    color: white;
    border: solid 2px;
    border-color: #022689;

  }
nav li:hover
{
  border: solid 2px;
  border-color: white;
  border-radius: 15px;
  color: white;
}

footer
{
    background-color: #022689;
    text-align: center;
    margin: 4% 0 0 0;
    height: 90px;
    left: 0;
    width: 100%;
    color: white;

}

footer li
{
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
    padding: 10px;
    color: white;
    font-family: 'Heebo', sans-serif;
}

footer ul li p
{
  padding-bottom: 100px;
}
a {
    font-family: monospace;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }

.texte1
{
  font-family: 'Heebo', sans-serif;
  margin: 2% 0 0 0;
  padding: 1% 0;
  font-size: 1.5rem

}
.texte2
{
  font-family: 'Heebo', sans-serif;
  margin: 2% 0 0 0;
  font-size: 1.5rem

}

#tableau
{

   display:block;
}
#logo
{
  float: left;
  margin-top: -1.2%; 
  margin-left: 1%;

}

body
{
  background-image: url('https://images.alphacoders.com/103/thumb-1920-1039414.png');
  background-attachment: fixed;
}


#container  {
padding:3%;
width: 80%; 
position: relative;
margin:0 auto;
line-height: 1.4em;
text-align: center;
background-color: rgba(255,255,255,0.9);
border-radius: 15px; 
border: solid 2px black;
box-shadow: 5px 2px 2px grey;




}


@media only screen and (max-width: 200px){
    #container { width: 20%; }
}


footer
{
    background-color: #022689;
    text-align: center;
    margin: 8% 0 0 0;
    height: 90px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.titre
{
  text-align: center;
}
.questions
{

  color: red;
  padding: 1% 0;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 55%;
  border: solid 1px black;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

tr{
  
}

td{
  float: left;
}
#text
{
  margin-top: 30%;
  font-family: 'Heebo', sans-serif;
}
#case
{
  width: 40%;
 
  float: right;
  margin-left: -45%;
  padding: 0;

}
table
{
  margin: 0 auto;
}