

*{
    margin: 0;
    
}
nav{
    background-color: #022689;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin: 0 0 2% 0;
}
 ul {  
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 10px;
    transition: 0.4s;
    padding: 10px;
    color: white;
    border: solid 2px;
    color: #022689;
  }
nav li:hover
{
  border: solid 2px;
  border-color: white;
  border-radius: 15px;
  color: green;
}
footer li
{
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
    padding: 10px;
    color: white;
    font-family: 'Heebo', sans-serif;
}

footer ul li p
{
  padding-bottom: 100px;
}

a {
    font-family: monospace;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }

body
{
  background-image: url('https://images.alphacoders.com/103/thumb-1920-1039414.png');
  background-attachment: fixed;
}
#container {

padding: 5%;
width: 80%; 
position: relative;
margin:0 auto;
line-height: 1.4em;
text-align: center;
background-color: rgba(255,255,255,0.9);

border: solid 2px black;
box-shadow: 5px 2px 2px grey;



}

@media only screen and (max-width: 200px){
    #container { width: 20%; }
}
input 
{

  text-align: center;
  flex: 1;
  border-width:0 0 1px 0;
  width: 30%;
  border : none;
  border-bottom : 1px solid #E1E1E1;
  padding : 5px;
  font-family: 'Heebo', sans-serif;
  
}
#pkmnS
 {
     margin-top :2%;
     flex: 1;
     border-radius: 10px;
     border: solid 3px;
     border-color: blue;

 }


.btn {
  border: solid 2px;
  cursor: pointer;
  color: red;
  padding:0.5% 0.5%;
  margin: 2%;
  border-radius: 20px ;
  transition: 0.3s;
  border-color:red; 
  font-family: 'Heebo', sans-serif;
}


.btn:hover
{
  background-color: red;
  color: white;
}



.nom
{
  float: right;
  font-family: 'Heebo', sans-serif;
  font-size: 1.5em;
  margin: 10% 0 0 0;
  display: inline-block;
  text-align: center;
  color: red;
}

.imgpkmn
{
  margin: 0 auto;
}
#imgs
{

  float: right;
}
#Tabtypes
{

  float: right;
  text-align: left;
  font-family: 'Heebo', sans-serif;
  margin: -15% 0 0 0;
  border: solid 2px black;
  background-color: rgb(220,220,220);
  border-radius: 7px; 
  transition: 0.4s;
  width: 25%;

}
#Tabtypes:hover
{
  border-color: grey;
  background-color: white;
  box-shadow: 5px 2px 2px black;
}


#index
{
  
  float: right;
  width: 25%;
  text-align: right;
  font-family: 'Heebo', sans-serif;
}

#NC
{

  float: right;
  text-align: center;
  width: 20%;
}

.texte
{
 
  float:left;
  font-family: 'Heebo', sans-serif;
}

.stats
{
  
  font-family: 'Heebo', sans-serif;

}

#stats
{
  border: solid 2px;
  border-color: black;
  background-color: rgb(220,220,220);;
  margin: 2% 0 0 0;
  border-radius: 10px; 
  transition: 0.4s;
  width: 30%;
}
#stats:hover
{
  border-color: grey;
  background-color: white;
  box-shadow: 5px 2px 2px black;
}
#effet
{
  border: solid 2px;
  border-radius: 5px;
  margin: 5% 0 0 0;
  width: 80%;
  background-color: rgb(220,220,220);
  transition: 0.3s;
}
#effet:hover
{
  box-shadow: 5px 2px 2px black;
  background-color: white;

}
#result
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



.btnstats{
  background-color: rgba(0,0,0,0);
  padding:2% 10%;
  margin: 2%;
  color: blue;
  border: solid 2px;
  border-radius: 8px;
  transition: 0.3s;

}

.btnstats:hover 
{
  background-color: blue;
  color: white;
  border-color:  white;

}

footer
{
    background-color: #022689;
    text-align: center;
    margin: 1% 0 0 0;
    height: 90px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

#logo
{
  float: left;
  margin-top: -1.2%; 
  margin-left: 1%;

}

img
{
  border-radius: 15px 15px 0 0;
  max-width:100%;
  height:auto;
}

#imglogo
{
  margin: 0 auto;
}

#info
{
  margin: 0 auto;
  padding:1%;
  border: solid 3px black;
  background-color: white;
  border-radius: 8px; 
}