*{
    margin: 0;
    
}
nav{
    background-color: #022689;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin: 0 0 2% 0;
    color: white;
}
 ul {  
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
    padding: 10px;
    color: white;
    border: solid 2px;
    border-color: #022689;

  }
nav li:hover
{
  border: solid 2px;
  border-color: white;
  border-radius: 15px;
  color: white;
}


footer
{
    background-color: #022689;
    text-align: center;
    margin: 1% 0 0 0;
    height: 90px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

}

footer li
{
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
    padding: 10px;
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
}

footer ul li p
{
  padding-bottom: 100px;
}

a {
    font-family: monospace;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }

body
{
  background-image: url('https://images.alphacoders.com/103/thumb-1920-1039414.png');
  background-attachment: fixed;
}

img
{
  border-radius: 15px 15px 0 0;
  max-width:100%;
  height:auto;
}


#container {
padding:3%;
padding-bottom: 5%;
width: 80%; 
position: relative;
margin:0 auto;
line-height: 1.4em;
text-align: center;
background-color: rgba(255,255,255,0.9);
border-radius: 15px; 
border: solid 2px black;
box-shadow: 5px 2px 2px grey;
justify-content: center;



}

@media only screen and (max-width: 200px){
    #container { width: 20%; }
}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


.card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:100%;
  border-radius: 15px;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 0.8em;
}


.card:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.8);
}


.container {
  padding: 2px 16px;

}

table
{
  margin: 0 auto;

}

tr
{
  margin: 0 auto;

}
td
{
  padding: 0.5%;
  margin: 0 auto;
}

#logo
{
  float: left;
  margin-top: -1.2%; 
  margin-left: 1%;

}
.titres_gen
{
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 1.2em;

}
#texte
{
  font-family: 'Noto Sans HK', sans-serif;
}
#logo1
{
  margin: 0 auto;
}